@model IEnumerable<CourseEnrollmentSystem.Models.Entities.Student>
<h2>@ViewData[index:"Title"]</h2>
@if(TempData[key: "Success"] != null)
{
    <div class="alert alert-success">@TempData[key:"Success"]</div>
}
<p>
    <a asp-action="Create">Add Student</a>
</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
    </tr>

    @foreach (var s in Model)
    {
        <tr>
            <td>@s.FullName</td>
            <td>
                <a href="/Student/Details/@s.Id">Details</a>
            </td>
        </tr>
    }
</table>

@* <h1>Index</h1>

<p>
    <a asp-action="Create">Add a new Student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table> *@